

body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
     font-style: normal;
     height: 100vh;
     background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.adder-container {
    display: flex;
}



#taskInput {
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    background-color: black;
    outline: none;
    height: 25px;
    color: #cecbcb;
    padding-left: 10px;
}



#taskInput::placeholder {
    padding-left: 5px;
    font-size: 11px;
}
#add-btn {
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #ffecec;
    cursor: pointer;
   
}


#add-btn:hover {
    background-color: #ffd8d8;
    transition: background-color  0.6s;
}




.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#delete-button{
    
    
    /* margin-left:   10px;
    width: 40px;
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 20%;
    background-color: rgb(241, 176, 111);
    color: rgb(255, 255, 255);
    cursor: pointer; */
    background-color: transparent;
    border: none;
    color: red;
    font-weight: 800;
    cursor: pointer;
    z-index: 2;
    

}

#delete-button:hover{

    background-color: rgb(255, 222, 8);
    color: black;
    transition: background-color .6s;
    transition: color .6s ;
}



#complete-button{
    background-color: transparent;
    border: none;
    color: red;
    font-weight: 800;
    cursor: pointer;
}

